<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Platform</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/assets/librairies/Bootflat/bootflat/scss/bootflat.css">
    <link rel="stylesheet" href="/assets/librairies/Bootflat/css/bootstrap.min.css">
</head>
<header>
    {% block header %}
    {% endblock %}
</header>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    {% include 'includes/footer.html.twig' %}
</footer>
<script src=/assets/librairies/Bootflat/js/jquery-1.10.1.min.js></script>
<script src=/assets/librairies/Bootflat/js/bootstrap.min.js></script>
<script src=/assets/librairies/Bootflat/bootflat/js/icheck.min.js></script>
<script src=/assets/librairies/Bootflat/bootflat/js/jquery.fs.selecter.min.js></script>
<script src=/assets/librairies/Bootflat/bootflat/js/jquery.fs.stepper.min.js></script>
{% block footer %}
{% endblock %}
</body>
</html>