<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Platform</title>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/librairies/Bootflat/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/librairies/Bootflat/bootflat/scss/bootflat.css">
    <link rel="stylesheet" href="/assets/librairies/Font-awesome/css/font-awesome.min.css">
</head>
<header>
     {% include 'includes/navbar.html.twig' %}
</header>
<body>
{% block body %}
{% endblock %}
<footer>
    {% include 'includes/footer.html.twig' %}
</footer>
<script src=/assets/librairies/Bootflat/js/jquery-1.10.1.min.js></script>
<script src=/assets/librairies/Bootflat/js/bootstrap.min.js></script>
<script src=/assets/librairies/Bootflat/bootflat/js/icheck.min.js></script>
<script src=/assets/librairies/Bootflat/bootflat/js/jquery.fs.selecter.min.js></script>
<script src=/assets/librairies/Bootflat/bootflat/js/jquery.fs.stepper.min.js></script>
{% block footer %}
{% endblock %}
</body>
</html>