<div class="footer container-fluid">
    <div class="container">
        <div class="clearfix">
            <div class="row">
                <div class="footer col-md-3 col-xs-6 hidden-xs">
                    <a href="#">
                        <img src="/assets/img/placeholder.svg" class="logo-footer" alt="Logo">
                    </a>
                </div>
                <div class="footer-nav col-md-3 col-xs-6">
                    <span class="nav-title">Evennements</span>
                    <a class="nav-item">Commerces</a>
                    <a class="nav-item">Particuliers</a>
                    <a class="nav-item">Espace VIP</a>
                    <a class="nav-item">Top 20</a>
                </div>
                <div class="footer-nav col-md-3 col-xs-6">
                    <span class="nav-title">Catégories</span>
                    <a class="nav-item">Divertissement</a>
                    <a class="nav-item">Loisirs</a>
                    <a class="nav-item">Culture</a>
                    <a class="nav-item">Assosiations</a>
                    <a class="nav-item">Sport</a>
                    <a class="nav-item">Cuisine</a>
                    <a class="nav-item">Visite</a>
                    <a class="nav-item">Jeux</a>
                    <a class="nav-item">Geocatching</a>
                </div>
                <div class="footer-nav col-md-3 col-xs-6">
                    <span class="nav-title">Le site</span>
                    <a class="nav-item">Mentions légales</a></a>
                    <a class="nav-item">Contact</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center">Copyright 2016 by US.</div>
    </div>
</div>
