<div class="footer container-fluid">
    <div class="container">
        <div class="clearfix">
            <div class="footer-logo"><a href="#">On fait quoi ce week end ?</a></div>
            <dl class="footer-nav">
                <dt class="nav-title">Evennements</dt>
                <dd class="nav-item"><a href="#">Commerces</a></dd>
                <dd class="nav-item"><a href="#">Particuliers</a></dd>
                <dd class="nav-item"><a href="#">Espace VIP</a></dd>
                <dd class="nav-item"><a href="#">Top 20</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">Catégories</dt>
                <dd class="nav-item"><a href="#">Divertissement</a></dd>
                <dd class="nav-item"><a href="#">Loisirs</a></dd>
                <dd class="nav-item"><a href="#">Culture</a></dd>
                <dd class="nav-item"><a href="#">Assosiations</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title"></dt>
                <dd class="nav-item"><a href="#">Sport</a></dd>
                <dd class="nav-item"><a href="#">Cuisine</a></dd>
                <dd class="nav-item"><a href="#">Visite</a></dd>
                <dd class="nav-item"><a href="#"></a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">CONTACT</dt>
                <dd class="nav-item"><a href="#">Informations</a></dd>
                <dd class="nav-item"><a href="#">Localisation</a></dd>
                <dd class="nav-item"><a href="#">Contacts</a></dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">Copyright 2016 by US.</div>
    </div>
</div>
