<div class="footer container-fluid">
    <div class="container">
        <div class="clearfix">
            <div class="row">
                <dl class="footer col-md-3">
                    <a href="#">
                        <img src="/assets/img/placeholder.svg" class="logo-footer" alt="Logo">
                    </a>
                </dl>
                <dl class="footer-nav col-md-3">
                    <dt class="nav-title">Evennements</dt>
                    <dd class="nav-item"><a href="#">Commerces</a></dd>
                    <dd class="nav-item"><a href="#">Particuliers</a></dd>
                    <dd class="nav-item"><a href="#">Espace VIP</a></dd>
                    <dd class="nav-item"><a href="#">Top 20</a></dd>
                </dl>
                <dl class="footer-nav col-md-3">
                    <dt class="nav-title">Catégories</dt>
                    <dd class="nav-item"><a href="#">Divertissement</a></dd>
                    <dd class="nav-item"><a href="#">Loisirs</a></dd>
                    <dd class="nav-item"><a href="#">Culture</a></dd>
                    <dd class="nav-item"><a href="#">Assosiations</a></dd>
                    <dd class="nav-item"><a href="#">Sport</a></dd>
                    <dd class="nav-item"><a href="#">Cuisine</a></dd>
                    <dd class="nav-item"><a href="#">Visite</a></dd>
                    <dd class="nav-item"><a href="#">Jeux</a></dd>
                    <dd class="nav-item"><a href="#">Geocatching</a></dd>
                </dl>
                <dl class="footer-nav col-md-3">
                    <dt class="nav-title">Le site</dt>
                    <dd class="nav-item"><a href="#">Mentions légales</a></dd>
                    <dd class="nav-item"><a href="#"><Contact></Contact></a></dd>
                </dl>
            </div>
        </div>
        <div class="footer-copyright text-center">Copyright 2016 by US.</div>
    </div>
</div>
