<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <a href="#">Proposer un event</a> </li>
                <li> <a href="#">Liste des events</a> </li>
                <li> <a href="#">Aide</a> </li>
                <li> <a href="#">Connexion</a> </li>
            </ul>
        </div>
    </nav>