{% extends 'includes/base.html.twig' %}

{% block title %}Evennements à venir{% endblock %}
{% block head %}
    <!-- Add supplementary style or something else... -->
{% endblock %}

{% block body %}
<section id="eventslist">
    <div class="container-fluid">
        <div class="row marginTop30 text-center">
            <button type="button" class="btn dropdown-toggle circle"><i class="glyphicon glyphicon-tags"></i></button>
            <button type="button" class="btn btn-primary circle"><i class="glyphicon glyphicon-user"></i></button>
            <button type="button" class="btn btn-pink circle"><i class="glyphicon glyphicon-user"></i></button>
            <button type="button" class="btn btn-info circle"><i class="glyphicon glyphicon-euro"></i></button>
            <button type="button" class="btn btn-warning circle"><i class="glyphicon glyphicon-plus-sign"></i></button>
        </div>
        <div class="row marginTop30">
            <div class="col-md-4">
                <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/1')">
                    <a href="#">
                        <div class="content">
                            <h1>Events 1</h1>
                            <h5>Machin - Themes</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/2')">
                    <a href="#">
                        <div class="content">
                            <h1>Events 2</h1>
                            <h5>Machin - Themes</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/3')">
                    <a href="#">
                        <div class="content">
                            <h1>Events 3</h1>
                            <h5>Machin - Themes</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row marginTop30">
            <div class="col-md-4">
                <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/1')">
                    <a href="#">
                        <div class="content">
                            <h1>Events 4</h1>
                            <h5>Machin - Themes</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/2')">
                    <a href="#">
                        <div class="content">
                            <h1>Events 5</h1>
                            <h5>Machin - Themes</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/3')">
                    <a href="#">
                        <div class="content">
                            <h1>Events 6</h1>
                            <h5>Machin - Themes</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row marginTop30 text-center">
                <div class="col-md-12">
                    <ul class="pagination">
                        <li class="active"><a href="#">PREV</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li class="disabled"><a href="#">5</a></li>
                        <li class="active"><a href="#">NEXT</a></li>
                    </ul>
                </div>
        </div>
    </div>
</section>

{%  endblock %}