{% extends 'includes/base.html.twig' %}

{% block title %}Index page{% endblock %}
{% block head %}
    <!-- Add supplementary style or something else... -->
{% endblock %}

{% block body %}
    <section id="video-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="video-text">
                        <h1>Hackathon</h1>
                        <h4>Jusqu’à 40 personnes montées en équipes collaboratives vont pouvoir rentrer en compétition chronométrée pour développer un projet informatique ou un prototypage d’application, sous l’oeil d’un jury de spécialistes sélectionnés pour l’occasion. Les meilleurs projets se verront remettre des prix et auront l’occasion de se faire reconnaître pour leurs compétences ou leur inventivité.</h4>
                        <h5>Granville Digital - Granville 2.0</h5>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="#" id="btn-header" class="btn btn-primary">Tous les évenements</a>
                </div>
            </div>
        </div>
        <video autoplay="" loop="" class="" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </section>
    <section id="soon-events">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/1')">
                        <a href="#">
                            <div class="content">
                                <h1>Events 1</h1>
                                <h5>Machin - Themes</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/2')">
                        <a href="#">
                            <div class="content">
                                <h1>Events 2</h1>
                                <h5>Machin - Themes</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="carre" style="background-image: url('http://lorempicsum.com/futurama/500/500/3')">
                        <a href="#">
                            <div class="content">
                                <h1>Events 3</h1>
                                <h5>Machin - Themes</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row marginTop30">
                <div class="col-md-6 col-md-offset-3">
                    <a href="#" class="btn btn-primary btn-block">Tous les évnements</a>
                </div>
            </div>
        </div>
    </section>
    <section id="feedback-carousel">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <div class="profile-circle" style="background-image: url('https://randomuser.me/api/portraits/men/50.jpg') ;background-color: rgba(0,0,0,.2);"></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="active item">
                                <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}